{{ define "main"}}
    <section class="intro">

    </section>
    <section class="singles">
        <ul class="collection">
        {{ with $.Site.GetPage "/singles" }}
            {{ range .Pages }}
                <li class="item">
                    <div class='contenthead'>
                        <h3 class='contentheading'>{{ .Title }}</h3>
                        {{- partial "frame.html" . -}}
                    </div>
                    {{- partial "typewriter.html" .Params -}}
                </li>
            {{ end }}
        {{ end }}
    </ul>
    </section>
{{ end }}
