{{ define "main"}}
    <section class="intro">

    </section>
    <section class="singles">
        <ul class="collection">
        {{ with $.Site.GetPage "/singles" }}
            {{ range .Pages }}
                <li class="item">
                    <div class='contenthead'>
                        <h3 class='contentheading'>{{ .Title }}</h3>
                        <div class="frame">
                            <a href="{{ .Permalink }}" class="imgBx">
                                <img class="cover" src="/images/{{ .Params.cover }}" alt="{{ .Params.title }}">
                            </a>
                        </div>
                    </div>
                </li>
            {{ end }}
        {{ end }}
    </ul>
    </section>
{{ end }}
